<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
</head>
<style>
    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        color: aquamarine;

        text-shadow: 0ch;
    }

    p{
        color: cadetblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: lighter;

    }
</style>
<body>
    <h1>Hello, World from Django Template!</h1>
    <p>Welcome to our first HTML page.</p>
    <h2>
        acknowledgement
    </h2>
    <p>to friend of mine whom the most great person saleamlak </p>
</body>
</html>
